@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SuitSupply - Tech Test</h1>
    <p class="lead">
        This is a test application for a technical skill test.  This solution contains 3 main parts:
    </p>
    <ul>
        <li>WebAPI</li>
        <li>WebAPI.Client</li>
        <li>Web.UI</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>WebAPI</h2>
        <p>
            This is the micro API that provides the information about products.
        </p>
    </div>
    <div class="col-md-4">
        <h2>WebAPI.Client</h2>
        <p>This layer is designed to work as a NuGet package, with the sole purpose of providing an interface for the WebAPI to any other project/solution of the platform.</p>
    </div>
    <div class="col-md-4">
        <h2>Web.UI</h2>
        <p>MVC project that consumes the WebAPI through the WebAPI.Client and allows the user to manage the products offered in the platform.</p>
    </div>
</div>